<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>SoSpri-the-page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/pr_bbw.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- Für Progressbar balken: -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>

  <script>
    $(function() {
      $("#includedHeader").load("fragments/header.html"); 
      $("#includedFooter").load("fragments/footer.html");
    });
  </script>
</head>
<body>
    <!-- vom register -->
    <div id="includedHeader"></div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <h4 style="margin-top: 30px">Login</h4>
                        <div th:if="${param.logout}" class="alert alert-success" >
                            You have been logged out.
                        </div>
                            <div class="row">
                            <div class=" col-lg-8 col-lg-offset-2">
            <form id="login-form" method="post" role="form" th:action="@{/login}">
                <div class="messages"></div>
                <div class="controls">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input id="username" type="text" name="username" class="form-control" placeholder="Please enter your username *" required="required" data-error="Username is required." >
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">Password: </label> <input id="password" type="password" name="password" class="form-control" placeholder="Please enter your Password *" required="required" data-error="Password is required." >
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success btn-send" value="Login">
                            <p></p>
                        </div>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    <div style="height: 200px"></div>
    </div>
    </div>
    </div>
    </section>
    <div id="includedFooter"></div>
    </body>
    
    </html>